body {
  background-image: url(/assets/img/bg.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  margin-left: 15%;
  margin-right: 15%;
  height: 100vh;
  font-family: "Outfit", sans-serif;
}

/* header */
header {
  display: flex;
  justify-content: space-between;
  padding-bottom: 30px;
  padding-top: 30px;
}

#logo {
  width: 20%;
  height: 100%;
}

/* main */
#question {
  color: #fff;
  padding-top: 60px;
  padding-bottom: 40px;
  font-weight: 400;
  font-size: 50px;
}

#question > span {
  font-weight: bold;
}

main {
  color: #fff;
  text-align: center;
}

#answers {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  margin-left: 200px;
  margin-right: 200px;
}

#answers .btn {
  color: #fff;
  width: 340px;
  margin: 30px;
  padding: 30px;
}

/* gradient btn  */
.btn {
  position: relative;
  background: rgba(255, 255, 255, 0.2);
  border: transparent;
  border-radius: 50px;
  cursor: pointer;
}
.btn::before {
  content: "";
  position: absolute;
  inset: 0;
  border-radius: 50px;
  padding: 3px;
  background: linear-gradient(
    170deg,
    rgb(221, 220, 220) 0%,
    rgba(246, 246, 246, 0) 100%
  );
  -webkit-mask: linear-gradient(#fff 0 0) content-box, linear-gradient(#fff 0 0);
  -webkit-mask-composite: xor;
  mask-composite: exclude;
}

#counter {
  color: #fff;
  text-align: center;
  padding-top: 60px;
  letter-spacing: 5px;
  font-weight: bold;
  cursor: default;
}

#counter > span {
  color: #d20098;
}

/* timer aling*/
#containerTimer {
  display: flex;
  align-items: center;
  justify-content: center;
}

/* timer progress bar */
#containerTimer {
  height: 140px;
  width: 140px;
  border-radius: 50%;
}

.mainContainer,
.circleContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}

.circleContainer {
  width: 140px;
  height: 140px;
  background-color: #00ffff;
  -webkit-box-shadow: 0px 0px 40px 6px rgba(253, 237, 242, 0.2);
  box-shadow: 0px 0px 40px 6px rgba(253, 237, 242, 0.2);
  border-radius: 50%;
  position: absolute;
  overflow: hidden;
  z-index: 1;
}

.semicircle {
  width: 50%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform-origin: right;
}

.semicircle:nth-child(1) {
  background-color: #9a6a9e;
  z-index: 2;
}

.semicircle:nth-child(2) {
  background-color: #9a6a9e;
  z-index: 3;
}

.semicircle:nth-child(3) {
  background-color: #00ffff;
  z-index: 4;
}

.outercircle {
  width: 110px;
  height: 110px;
  background-image: url(/assets/img/bg.jpg);
  background-position: top right -150px;
  border-radius: 50%;
  z-index: 5;
}

.timerContainer {
  width: 250px;
  height: 120px;
  color: rgb(255, 255, 255);
  font-size: 50px;
  font-weight: 100;
  width: 80px;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  z-index: 6;
}
