body{
    background-image: url(/assets/img/bg.jpg); 
    background-repeat: no-repeat;
    background-size: cover;
    margin-left: 15%;
    margin-right: 10%;

    font-family: 'Outfit', sans-serif;
}

.first_logo{
    margin-top: 5%;
}

.first_title{
    line-height: 5rem;
    margin-top: 6%;
}

.second_title {
line-height: 2.2rem;
margin-top: 8%;
}

.first_Ul{
    font-size: 25px;
    line-height: 2.2rem;
    margin-top: 4%;
}

.input{
    font-size: 25px;
    height: 20px;
}


#checkbox{
width: 25px;
height: 25px;
/* outline: auto; */
margin-top: 3%;
appearance: none;
border: 2px solid whitesmoke;
cursor: pointer;
}


.label{
    margin-left: 20px;
    color: white;
    /* content: '✔' */
}


button{
    margin-left: 30%;
    padding-top: 0.6%;
    box-shadow: 3px 3px 3px 10px #00ffff;
    text-align: center;
    width: 18%;
    border: none;
    cursor: pointer;
}

